* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}



.video-player {
   max-width: 800px;
   height: 60%;
   position: relative;
   overflow: hidden;
}

.video-player .video {
   max-width: 100%;
   height: 100%;
}


.controls {
   position: absolute;
   bottom: -21px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
}
.controls > * {
   cursor: pointer;
}



.progress-bar {
   position: absolute;
   top: -30%;
   width: 100%;
   height: 4px;
   background: #fff;
}
.progress-fill {
   width: 10%;
   background: #c00;
   height: 100%;
   transition: all 1s ease;
}
.controls, .progress-bar {
   transition: all .5s ease;
}



.video-player:hover .controls {
   bottom: 10px;
}
.video-player:hover .progress-bar {
   height: 12px;
   top: -90%;
}